.tags-input {
    display:inline-block;
    float:right;
    clear:both;
    width:100%;
}

.tags-input input[type=text]{
    width:15%;
}

.tags-input .tag{
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color:#e8491d;;
    transition: all 0.1s linear;
    cursor: pointer;
}

.tags-input .tag:hover{
    color:#FFF;
}

.tags-input .tag .close::after{
    content: 'x';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
}

.tags-input .tag .close:hover:after{
}

.tags-input .main-input{
    border:0;
    outline: 0;
    padding: 0.5em 0.1em;
}